.footer {
    background-color: #f8f9fa;
    color: #6c757d;
  }
  
  .footer h5 {
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .footer a {
    color: #6c757d;
    text-decoration: none;
    text-align: center;

  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  .footer p, .footer ul {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .footer ul {
    list-style-type: none;
  }
  
  .footer .social-icons {
    display: flex;
    gap: 1rem;
    
  }
  
  .footer .social-icons a {
    font-size: 1.5rem;
    color: #6c757d;
  }
  
  .footer .social-icons a:hover {
    color: #495057;
  }
  
  .footer .text-center {
    margin-top: 2rem;
  }
  